@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2><li>@Html.ActionLink("Matricula", "Index", "Matriculas")</li></h2>
    </div>
    <div class="col-md-3">
        <h2><li>@Html.ActionLink("Alumnos", "Index", "Alumnos")</li></h2>
    </div>
    <div class="col-md-3">
        <h2><li>@Html.ActionLink("Materias", "Index", "Materias")</li></h2>
    </div>
    <div class="col-md-3">
        <h2><li>@Html.ActionLink("Profesores", "Index", "Profesores")</li></h2>
    </div>
</div>
